@import "./components/header";
@import "./components/footer";
@import "./components/clients";
@import "./components/lorem";
@import "./components/modal";
@import "./components/button";
@import "./components/whatwedo";
@import "./components/ourteam";
@import "./components/header_2";
@import "./components/card";

body {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: $fontFamily;
  font-weight: $fontWeight;
}

footer {
  background-color: $footerColor;
  height: 252px;
}
a {
  color: $fontColor;
  cursor: $cursorType;
}
h3 {
  font-size: 18px;
  line-height: 171%;
  font-weight: 700;
}

p {
  color: #757575;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.section {
  padding-top: $paddingSection;
  padding-bottom: $paddingSection;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  inline-size: 100%;
}
