.header--port {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: auto;
  inline-size: 100%;
  width: 1200px;
}
.header--port::after {
  content: "";
  position: absolute;
  border: 1px solid #ECECEC;
  width: 100%;
  top: 90px;
  left:0;
}