.header {
    display: none;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: auto;
    inline-size: 100%;
    width: 1200px;
}
@media screen and (min-width:768px){
  .header{
    display: flex;
    
    
  }}

@media screen and (min-width:1200px){
  .header{
    display: flex;
    flex-wrap: nowrap;
    
  }}
  .header_mobile{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: auto;
    inline-size: 100%;
  }
  @media screen and (min-width:768px){
    .header_mobile{
      display: none;
      
      
    }}
  
  @media screen and (min-width:1200px){
    .header_mobile{
      display: none;
      
    }}
.logo__link {
  color: $borderColor;
  font-family: "Relaway", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.03em;
}

&__link--text {
  color: #212121;
}

@media screen and (min-width:1200px){
  .logo__link{
    font-size: 26px;
    
  }}
  .navigation {
    padding-left: 93px;
    padding-right: 318px;

    &__nav{
        display: flex;
        flex-direction: row;
    }
   
  }
  @media screen and (min-width:768px){
    .navigation{
      padding-right: 50px;
      padding-left: 50px;
    }}
    @media screen and (min-width:1200px){
      .navigation{
        padding-left: 93px;
    padding-right: 308px;
      }}
  .part{
    padding-right: 23px;
padding-left: 23px;}

&__link{
    color: #212121;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTiming;
}

&__link:hover{
    color: $borderColor;
}
@media screen and (min-width:768px){
  .part {
    padding-right: 30px;
  padding-left: 30px;
    
  }}
  @media screen and (min-width:1200px){
    .part {
      padding-right: 23px;
  padding-left: 23px;
    }}
  .part--sign::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    margin-left: -51px;
    margin-top: 50px;
    background-color: $borderColor;
    border-radius: 2px;
  }
  @media screen and (min-width:768px){
    .part--sign::after{
      margin-top: 49px;
      
      
    }}
    @media screen and (min-width:1200px){
      .part--sign::after{
        margin-top: 50px;
        
      }}
  .contact {
    display: flex;
    flex-direction: row;
    
  }
  @media screen and (min-width:768px){
    .contact{
      flex-direction: column;
    position: absolute;
top:25px;
right: 0px;
    }}
    @media screen and (min-width:1200px){
      .contact{
        flex-direction:row;
        position: absolute;
        right: 0px;
        top: 40px;
      
      }}
  .data {
 
    display: flex;
    
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
  
    &__icon{
        width: 21px;
        height: 16px;
        
    }
    &__link{
        color:$inputColor;
        font-size: 14px;
        line-height: 100%;
        text-decoration: none;
        transition-duration:$transitionDuration;
        transition-timing-function: $transitionTiming;
    }}
    @media screen and (min-width:768px){
      .data{
        padding-bottom: 10px;
      }}
      @media screen and (min-width:1200px){
        .data{
          padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0px;
        }}
    .data__link:hover{
        color: $borderColor;
    }
    .data__icon--mobile {
      width: 47px;
      height: 30px;
      position: absolute;
      left:420px;
    }
