
.lorem {
    display: flex;
    flex-direction: column;
    
  }
  @media screen and (min-width: 768px){
    .lorem {
      flex-direction: row;
      flex-wrap: wrap;
    }
    }
  @media screen and (min-width: 1200px){
    .lorem {
      flex-direction: row;
      flex-wrap: wrap;
    }}
  .piece{
    height: 120px;
    width: 450px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin: auto;
  &__icon{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    position: relative;
   top:20px;
    
}}

  .text{
    width: 280px;
    margin: 0 auto;
    
    &__heading{
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: $fontColor;
        margin-top: 55px;
    }
    &__item{
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        color: $footerColor;
    }}
