.menu-toggle {
    width: 50px;
    height: 50px;
    position: relative;
    left:270px;
    bottom: 2px;
    z-index: 1;
    background: none;
    border: none;
  }
  .menu-toggle__svg{
    width: 47px;
    height: 30px;
    position: absolute;
    right:1px;
    bottom: 6px;
    z-index: 10;
  }
  
  
  
  .mobile-nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    margin-left: 40px;
    
  }
  .part__link--menu{
    font-family:$fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color:$fontColor;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .part__link--menu:hover{
    color: $borderColor;
    cursor: pointer;
  }
  .menu-container {
    background-color: $backgroundColor;
    border-radius: 4px;
    width: 480px;
    height: 796px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 50;
  }
  
  @media screen and (min-width:768px) {
    .menu-container{
      display: none;
    }
  }
  @media screen and (min-width:1200px) {
    .menu-container{
      display: none;
    }
  }
      
      .contact--mobile{
        display: flex;
      flex-direction:column;
      margin-left: 40px;
      margin-top: 302px;
      }
  .data__link--mobile1{
    font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: $borderColor;
  text-decoration: none;
  padding-bottom: 16px;
  }
  .data__link--mobile2{
    font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: $inputColor;
  padding-top: 16px;
  }
  .mobile-socials{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 64px;
  }
  .mobile__items{
    font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: $borderColor;
  padding-right: 20px;
  }
  .js-close-menu{
    position: fixed;
      width: 19px;
      height: 19px;
      left: 444px;
      top: 16px;
     border: none;
      cursor: pointer;
  }
  .js-close-menu:hover{
    color: $borderColor;
    cursor: $cursorType;
  }
  .is-open {
    pointer-events: none;
    visibility:visible;
    opacity: 1;
  }