$backgroundColor:#ffffff;
$fontColor: #212121;
$fontFamily: "Roboto", sans-serif;
$fontWeight: 500;
$paddingSection: 94px;
$cursorType: pointer;
$borderSize: 1px solid;
$footerColor: #2f303a;
$borderColor: #2196f3;
$transitionDuration:250ms;
$transitionTiming:cubic-bezier(0.4, 0, 0.2, 1);
$inputColor:#757575;
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:1200px;